*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
section{
    height: 500px;
    width: 100%;
    background-image: url('assets/hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 0 auto;

}
.hero-content{
    text-align: center;
    padding-top: 134px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 134px;
    color: antiquewhite;
}
.top{
    border-radius: 99px;
    padding: 5px 10px;
}

.hero-content h1{
    font-size: 72px;
    line-height: 80px;
}
.hero-content p{
    margin-top: 20px;
    line-height: 30px;
}
.herocolor{
    color: #469165;
}
.herob{
    margin-top:20px ;
}
.herobtn1{
    color: white;
    padding: 10px 15px;
    background-color: #469165;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}
.herobtn1:hover{
    color: #469165;
    background-color: white;
}
.herobtn2{
       padding: 10px 15px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 700; 
    border-color: white;
    color: white;
}
.herobtn2:hover{
    color: black;
    background-color: white;
}
.second-sec{
    text-align: center;
}
.card{
    background-color: aliceblue;
    height: 200px;
    align-items: center;
    width: 300px;
    padding: 10px 15px;
}
.cards{
    display: flex;
justify-content: space-around;
height: 500px;
width: 80%;
margin: 0 auto;
padding: 50px 0;
gap: 30px;

}
.cards img{
    background-color: brown;
    padding: 10px;
    border-radius: 999px;
    margin-top: 50px;
}
.brain{
    display: flex;
    height: 500px;
    max-width: 1140px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}
.brain image{
    height: 200px;
    width: 200px;
}
.brain-content h6{
    text-transform: uppercase;
    color: rgb(202, 201, 200);
    margin-bottom: 20px;
}
.brain-content h3{
    font-size:30px ;
    font-weight: 700px;
}
.brain-content  p{
    margin-top: 20px;
    font-size: 16px;
}
.brain-content ul{
    list-style: none;
}
